@charset "utf-8";

#mtd-form-container {
    text-align: center;
    width: 95%;
}

#mtd-form-title {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 50px 0;
}

.mtd-form p {
    margin: 2px 0;
    margin-bottom: 10px;
}

.mtd-form fieldset {
    border: #ccc 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px 7px 7px 7px;
}

.mtd-form fieldset:hover {
    background-color: #fff;
}

.mtd-form fieldset legend {
    padding: 0 10px;
    font-size: 1.3em;
    color: #999;
}

/* Label */
.mtd-form label {
    background: #dcdcdc;
    display: block;
    float: left;
    font-size: 1.1em;
    letter-spacing: 1px;
    padding-right: 1%;
    text-align: right;
    width: 35%;
}

.mtd-form label:hover {
    font-weight: bold;
}

.mtd-form label .error{
    background-color: #ff0000;
}

.mtd-form .form_label_nostyle {
    background: none;
}

/* Input */
.mtd-form input,
.mtd-form select {
    border: #ccc 1px solid;
    margin-left: 1%;
    width: 62%;
}

input.mtd-form-duration {
    width: 2em;
}

.mtd-form input:hover,
.mtd-form select:hover,
.mtd-form input:focus,
.mtd-form select:focus {
    border: #ccc 1px solid;
}

.mtd-form .form_input_day {
    text-align: center;
    width: 20%;
}

.mtd-form .form_input_month {
    text-align: center;
    width: 20%;
}

.mtd-form .form_input_year {
    text-align: center;
    width: 20%;
}

.mtd-form .form_input_duration {
    width: 6%;
}

.mtd-form .addbutton{
    text-align:center;
    margin-bottom:10px;
    width: 40%;
}

/* button submit */
.mtd-form input[type="submit"] {
    border: #DDEEFF 1px solid;
    width: 27%;
}

.mtd-form input[type="submit"]:hover {
    background-color: #66CC33;
    cursor: pointer;
}

.mtd-form input[type="reset"] {
    border: #DDEEFF 1px solid;
    width: 27%;
}

.mtd-form input[type="reset"]:hover {
    background-color: #E6484D;
    cursor: pointer;
}

#mtd-form-content {
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-bottom: thin #dcdcdc solid;
    border-left: thin #dcdcdc solid; 
    border-right: thin #dcdcdc solid;
    border-top: thin #dcdcdc solid;
    clear: both;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    overflow-x : hidden;
}

.mtd-form-element textarea.mtd-form-input {
    min-width: 50%;
    min-height: 6em;
}

.mtd-tab {
    line-height: 38px;
}

.mtd-tab-hidden {
    display:none !important;
}

.mtd-tab-visible {
    display:inline-block;
}

.mtd-title-content {
    margin-top: 1em;
}

#mtd-form-container .on {
    display: block;
}

#mtd-form-container .off {
    display: none;
}

.son {
    display: block;
}

.soff {
    display: none;
}

#mtd-form-container .addbutton{
    text-align:center;
    margin-bottom:10px;
    width: 40%;
}

.ds_box {
    background-color: #fff;
    border: 1px solid #000;
    position: absolute;
    z-index: 32767;
}

.ds_tbl {
    background-color: #fff;
}

.ds_head {
    background-color: #585858;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.ds_subhead {
    background-color: #ccc;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 32px;
}

.ds_cell {
    background-color: #EEE;
    color: #000;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.ds_cell:hover {
    background-color: #F3F3F3;
} /* This hover code won't work for IE */

/** Styling for library GUI **/

#libsearch input{
    font-size: 0.9em;
}

#libsearch select{
    font-size:0.9em;
}

td.mtd-field {
    background-color:#565B9E;
    border:2px solid white;
    color:white;
    font-weight:bolder;
    min-height:24px;
    padding:4px;
    padding-right:10px;
    text-align:right;
    width:25%;
}

td.mtd-num {
    background-color:#565B9E;
    border:2px solid white;
    color:#B9B9D9;
    min-height:24px;
    padding:4px;
    text-align:right;
    width:5%;
}

td.mtd-value {
    width:70%;
    text-align:left;
    padding:2px;
    background-color:#F0F0F7;
    padding-left:10px;
}

.mtd-resource-name {
    color: initial;
}

.mtd-date-element select {
    width: 6em !important;
}

.mtd-form-element {
    margin-top: 10px;
}

.mtd-form-element textarea {
    margin-left: 1%;
}

fieldset.subbranch{
    margin-left:5px;
}

fieldset > legend{
    padding:5px;
    font-weight:bolder;
    color:#54549E;
}

.sharedresource-listsection{
    font-weight:bold;
    text-align:center;
}

#notice-menu li {
    background-color: #A7A3BA;
    font-weight:bolder;
    padding:4px;
    color:#f0f0f0;
}

#notice-menu .active{
    background-color: #4D4860;
    color:#f0f0f0;
}

#page-mod-sharedresource-metadatanotice #ecform_content{
    padding:0px;
}

#page-mod-sharedresource-metadatanotice #ecform_content .mtd-description-panel {
    text-align:left;
    padding:20px;
}

/** Tableless search engine **/

#sharedresource-search{
    float:left;
    width:200px;
}

.widget .header{
    background-color: #6B6486;
    color:#f0f0f0;
    padding:2px;
    font-weight:bold;
}

.sharedresources-commands {
    margin-top: 10px;
    text-align: right;
}

.rootnode {
    border-top: 3px solid;
}

.rootnode > td {
    background-color: #f0f0ff;
}

.sharedresources-actionlink {
    cursor: pointer;
}

.shadowed {
    opacity:0.5;
    -moz-opacity:0.5;
}

#sharedresource-add-instance {
    display: table;
}

#sharedresource-add-instance > div {
    border: 1px solid #aaa;
    border-radius: 8px;
    display: table-cell;
    padding: 20px;
}

.sharedresource-instructions {
    margin-bottom:30px;
}

.sharedresource-link {
    text-align: center;
}