{{!
    This file is part of The Sharedresource Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_sharedresource/accessrules

    Classes required for JS:
    * none

}}
<!-- accessrules -->
<div class="access-rules">
{{#hasprofilerules}}
    <table class="profile-rules">
    {{#profilerules}}
        <tr valign="top">
            <td class="rule-source">
                {{name}}<br/>
                <span class="dimmed">{{shortname}}</span>
            </td>

            <td class="rule-op">
                {{operator}}
            </td>

            <td  class="rule-target">
                {{value}}
            </td>
        </tr>
    {{/profilerules}}
    </table>
{{/hasprofilerules}}

{{#hascapabilityrules}}
    <table class="capability-rules">
    {{#capabilityrules}}
        <tr valign="top">
            <td class="rule-source">
                {{name}}
                {{#shortname}}
                <br/><span class="dimmed">{{shortname}}</span>
                {{/shortname}}
            </td>

            <td class="rule-op">
                {{rulestr}}
            </td>

            <td class="rule-target">
                {{targetname}}
                {{#targetshortname}}
                <br/><span class="dimmed">{{targetshortname}}</span>
                {{/targetshortname}}
            </td>
        </tr>
    {{/capabilityrules}}
    </table>
{{/hascapabilityrules}}
</div>
<!-- /accessrules -->
