{{!
    This file is part of The Dashboard Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_sharedresource/directpopup

    Used when a resource is setup as popuped but accessed directly

    Classes required for JS:
    * mod/sharedresource/amd/view.js

}}
<!-- directpopup -->
{{{introbox}}}

<a href="{{linkurl}}" class="sharedresource-popup-link" id="sharedresource-{{resid}}" >{{title}}</a>

<div class="popupnotice">
{{strpopupresource}}<br />
{{{strpopupresourcelink}}}
</div>

<script type="text/javascript">
<!--
#sharedresource-{{resid}}.trigger('click');
-->
</script>
<!-- /directpopup -->
