{{!
    This file is part of The Sharedresource Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_sharedresource/metadataeditform

    Classes required for JS:
    * none

}}
<!-- metadataeditform -->
<center>
<div id="mtd-form-container" align="center">

    <div align="center" id="mtd-form-title">
        {{metadatadescrstr}} {{pluginname}}
    </div>

    {{> mod_sharedresource/tabs}}

    <div id="mtd-form-content" style="margin-right: auto; margin-left: auto">
        <div id="id-tab-99" class="on mtd-content">
            <div class="mtd-title-content">
                <h2>{{dmusestr}} {{pluginname}}</h2>
                <h3>{{dmdescriptionstr}}</h3>

                <fieldset>
                    <div style="text-align:justify;align=left;">
                        {{{standarddescriptionstr}}}
                    </div>
                </fieldset>

            </div>
        </div>

        <div style="margin-left: 67px;">
            <form id="id-mtd-form" action="{{{receiverurl}}}" method="post" class="mtd-form">
                <input type="hidden"  name="mode"  value="{{mode}}">
                <input type="hidden"  name="course"  value="{{course}}">
                <input type="hidden"  name="section"  value="{{section}}">
                <input type="hidden"  name="context"  value="{{sharingcontext}}">
                <input type="hidden"  name="add"  value="{{add}}">
                <input type="hidden"  name="return"  value="{{return}}">

                {{> mod_sharedresource/metadataeditformchilds}}

                <div align="center">
                    <input type="submit" name="go-btn" value="{{validateformstr}}" id="id-mtd-submit"/>
                    <input type="submit" name="cancel" value="{{cancelformstr}}"  id="id-mtd-cancel" />
                </div>
            </form>
    </div>

</div>
</center>
<!-- /metadataeditform -->
