{{!
    This file is part of The Sharedresource Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_sharedresource/metadataformchilds

    Classes required for JS:
    * none

}}
<!-- metadataformchilds -->
{{#childs}}

{{#iscategory}}
    <tr {{{nodeclass}}}>
        <td width="30%" align="left" style="padding-left:{{indentsize}}px">
            <b>&nbsp;{{fieldname}}</b>
        </td>
{{/iscategory}}
{{^iscategory}}
    <tr>
        <td width="30%" align="left" style="padding-left:{{indentsize}}px">
            &nbsp;{{fieldname}}
        </td>
{{/iscategory}}

        <td class="mtdsetting">
            <input id="{{skw}}" class="{{isparentclass}} {{sparentclassw}} {{namespace}}-system-write mtd-check" type="checkbox" name="{{cskw}}" {{{scheckedw}}} value="1" {{{sdisabledw}}} /> W / 
            <input id="{{skr}}" class="{{isparentclass}} {{sparentclassr}} {{namespace}}-system-read mtd-check" type="checkbox" name="{{cskr}}" {{{scheckedr}}} value="1" {{{sdisabledr}}} /> R
        </td>

        <td class="mtdsetting">
            <input id="{{ikw}}" class="{{isparentclass}} {{iparentclassw}} {{namespace}}-indexer-write mtd-check" type="checkbox" name="{{cikw}}" {{{icheckedw}}} value="1" {{{idisabledw}}} /> W /
            <input id="{{ikr}}" class="{{isparentclass}} {{iparentclassr}} {{namespace}}-indexer-read mtd-check" type="checkbox" name="{{cikr}}" {{{icheckedr}}} value="1" {{{idisabledr}}} /> R
        </td>

        <td class="mtdsetting">
            <input id="{{akw}}" class="{{isparentclass}} {{aparentclassw}} {{namespace}}-author-write mtd-check" type="checkbox" name="{{cakw}}" {{{acheckedw}}} value="1" {{{adisabledw}}} /> W / 
            <input id="{{akr}}" class="{{isparentclass}} {{aparentclassr}} {{namespace}}-author-read mtd-check" type="checkbox" name="{{cakr}}" {{{acheckedr}}} value="1" {{{adisabledr}}} /> R
        </td>

    {{#haswidget}}
            <td class="mtdsetting">
                <input id="{{wk}}" class="mtd-widget {{wparentclass}}" type="checkbox" name="{{wn}}" {{{wchecked}}} value="1" {{{wdisabled}}} />
            </td>
    {{/haswidget}}
    {{^haswidget}}
            <td class="mtdsetting"></td>
    {{/haswidget}}

</tr>

{{#haschilds}}
{{> mod_sharedresource/metadataformchilds}}
{{/haschilds}}

{{/childs}}
<!-- /metadataformchilds -->