{{!
    This file is part of The Dashboard Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_sharedresource/notice

    Used when a resource is setup as popuped but accessed directly

    Classes required for JS:
    * mod/sharedresource/amd/view.js

}}
<!-- notice -->
<center>
<div id="mtd-form-container" align="center">
    <div align="center" id="mtd-form-title">
        {{metadatadescrstr}} ({{namespace}})
    </div>

    <br/>

    {{> mod_sharedresource/tabs}}

    <br/>

    <div id="mtd-form-content" style="margin-right: auto; margin-left: auto">
        {{> mod_sharedresource/metadatapanel }}

        {{^hidemetadatadesc}}
        <div id="id-tab-99" class="off mtd-content">

            <div class="mtd-description-panel">
                <h2>{{dmusestr}} {{namespace}}</h2>

                <h3>{{dmdescriptionstr}}</h3>

                <fieldset style="margin-right: auto; margin-left: auto">
                    {{{standarddescriptionstr}}}
                </fieldset>
            </div>
        </div>
        {{/hidemetadatadesc}}
    </div>

    <br/>

    <div align="center">
    </div>
</div>
</center>

<!-- /notice -->