{{!
    This file is part of The Sharedresource Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_sharedresource/tabs

    Classes required for JS:
    * none

}}
<!-- tabs -->
    <div id="mtd-form-tabs" class="tabtree">
        <ul id="mtd-form-menu" class="{{tabmodel}} {{tabclass}}">
            {{#tabs}}
                <li id="id-menu-{{i}}" class="mtd-tab {{tabclass}}">
                    <a href=""><span>{{tabname}}</span></a>
                </li>
            {{/tabs}}

            {{^hidemetadatadesc}}
            <li id="id-menu-99" class="mtd-tab first onerow here selected">
                <a><span>{{dmusedstr}}</span></a>
            </li>
            {{/hidemetadatadesc}}
        </ul>
    </div>
<!-- /tabs -->